@use 'config' as *;

$project: '.project';

.projects {
	display: grid;
	grid-template-rows: repeat(16, 1fr);
	grid-template-columns: inherit;
	gap: inherit;

	&_header {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(6, 1fr);
		grid-row: 1 / 3;
		grid-column: #{$grid_full};
		gap: inherit;

		> *:not(:last-child) {
			margin-bottom: em($spacing_80);
		}

		@include breakpoint(m, '<') {
			@include container();
		}

		@include breakpoint(s) {
			grid-column: #{$grid_inner};
		}

		@include breakpoint(m) {
			grid-template-rows: 1fr;
			grid-row: 1 / 2;

			> *:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}

	&_heading {
		grid-row: 1 / 2;
		grid-column: #{$grid_full};

		@include breakpoint(m) {
			grid-row: 1 / 1;
			grid-column: 1 / span 3;
		}
	}

	&_description {
		grid-row: 2 / -1;
		grid-column: #{$grid_full};

		@include breakpoint(m) {
			grid-row: 1 / 1;
			grid-column: 4 / span 3;
		}
	}

	&_list {
		display: grid;
		grid-template-rows: repeat(14, 1fr);
		grid-template-columns: inherit;
		grid-row: 3 / -1;
		grid-column: #{$grid_full};
		gap: inherit;
	}

	&_item {
		$row-start: 1;
		$step: 5;

		grid-column: inherit;

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				grid-row: if($i == $row-start, $i, $row-start) / span 4;

				#{$project}_image {
					background-image: url(image-path(map-deep($asset, 'image', 'project#{$i}')));
				}
			}
			$row-start: $row-start + $step;
		}

		&:nth-child(even) {
			@include breakpoint(m) {

				#{$project}_image {
					grid-column: span 4 / -1;
				}

				#{$project}_review {
					grid-column: span 4 / -2;
				}

				#{$project}_info {
					grid-column: 2 / span 2;
				}
			}
		}
	}
}

#{$project} {
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: inherit;
	gap: inherit;

	&_image {
		z-index: 0;
		grid-row: 1 / -2;
		grid-column: 1 / -1;
		opacity: 0.12;

		@include breakpoint(m) {
			grid-column: 1 / span 4;
			opacity: 1;
		}
	}

	&_review {
		z-index: 20;
		grid-row: 5 / -1;
		grid-column: 1 / -2;
		background-color: $color_base_husky;

		@include breakpoint(s) {
			grid-row: 6 / -1;
			grid-column: #{$grid_inner};
		}

		@include breakpoint(m) {
			grid-row: 5 / -1;
			grid-column: 2 / span 4;
		}
	}

	&_info {
		z-index: 10;
		grid-row: 1 / span 4;
		grid-column: 2 / -1;
		padding: em($spacing_60);

		> *:not(:last-child) {
			margin-bottom: em($spacing_100);
		}

		@include breakpoint(m) {
			grid-row: 1 / -2;
			grid-column: span 2 / -2;
		}
	}
}
