@use 'config' as *;

.headingList {
	&_caption {
		margin-block-end: em($spacing_100);
	}

	&_title {
		text-transform: uppercase;
	}

	&_item {
		padding-top: em($spacing_60);
		padding-bottom: em($spacing_60);
	}
}
