@use 'config' as *;

.headingList {
	&_caption {
		margin-block-end: em($spacing_120);
	}

	&_items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: em($spacing_120);

		@include breakpoint(l) {
			gap: em($spacing_110);
		}
	}

	&_item {
		display: flex;
		align-items: center;
		color: $color_base_dark;
		font-weight: $typography_weight_semi_bold;
		cursor: pointer;

		&__active {
			position: relative;

			&::before {
				--size: 6px;

				content: '';
				position: absolute;
				top: 50%;
				right: 100%;
				width: var(--size);
				height: var(--size);
				margin-inline-end: em(4);
				border-radius: $size_border_radius_circle;
				background-color: $color_base_primary;
				transform: translateY(-50%);
			}
		}
	}

	&_icon {
		flex-shrink: 0;
		width: em(48);
		height: auto;
	}

	&_name {
		flex-grow: 1;
		padding-inline-start: em(18 / $size_font_ms_u_3);
		padding-inline-end: em(18 / $size_font_ms_u_3);
		font-size:
			locks(
				$size_font_min * $size_font_ms_u_2,
				$size_font_max * $size_font_ms_u_3
			);
		font-weight: inherit;

		@include truncate_text();
	}

	&_cases {
		padding-inline-start: em(18 / $size_font_ms_u_2);
		padding-inline-end: em(18 / $size_font_ms_u_2);
		font-size:
			locks(
				$size_font_min * $size_font_ms_u_1,
				$size_font_max * $size_font_ms_u_2
			);
		font-weight: inherit;
	}

	&_growthMark {
		$growthMark: compose(&);

		flex-shrink: 0;
		width: em(20);
		height: auto;

		&Up {
			composes: $growthMark;
			fill: $color_base_primary;
		}

		&Down {
			composes: $growthMark;
			transform: scale(-1);
			fill: $color_base_dark;
		}
	}
}
