@use 'config' as *;

.reports {
	display: grid;
	grid-template-columns: repeat($grid_columns, 1fr);
	align-items: center;
	gap: em($spacing_gutter);

	&_list {
		grid-row: 2;
		grid-column: #{$grid_full};
		padding: locks(8, 56);
		background-color: $color_base_white;
		box-shadow: compose-shadow($shadow_base);

		@include breakpoint(l) {
			grid-row: 1;
			grid-column: span 6 / -1;
		}
	}

	&_map {
		grid-row: 1;
		grid-column: #{$grid_full};
		width: 100%;
		height: auto;
		fill: $color_base_dark;

		@include breakpoint(l) {
			grid-row: 1;
			grid-column: 1 / span 10;
		}

		:global .activeCountry {
			fill: $color_base_primary;

			@include transition($prop: fill, $duration: $time_slowly);
		}
	}
}
