//- mixin button(text, type, ...modifier)
mixin button(prop, ...modifier)
	- let {text, type = 'button'} = prop;
	button(
		class=cx(s.button, modifier.map(mod => s[`button__${mod}`]))
		type=type
		)&attributes(attributes)!= text
