@use 'config' as *;

.button {
	--spacing: #{$spacing_80};

	padding-block-start: em(var(--spacing));
	padding-block-end: em(var(--spacing));
	padding-inline-start: em($spacing_120);
	padding-inline-end: em($spacing_120);
	border-radius: em(calc(var(--spacing) * 2));
	font-weight: $typography_weight_semi_bold;
	transform: perspective(1px) translateZ(0);

	@include transition($prop: transform, $duration: $time_slowly);

	@include hover() {
		transition-timing-function: $easing_bounce;
		transform: scale(0.9);
	}

	&__big {
		--spacing: #{$spacing_100};
	}

	&__primary {
		background-color: $color_base_primary;
		color: $color_base_white;
	}

	&__plain {
		border: em(1) solid $color_base_primary;
		color: $color_base_primary;
	}
}
