@use 'config' as *;

.menu {
	position: relative;
	min-width: 0;

	&_list {
		display: flex;
		flex-wrap: nowrap;
		overflow: auto;
	}

	&_item {
		white-space: nowrap;

		&:not(:last-child) {
			margin-inline-end: em($spacing_120);
		}
	}

	&_link {
		position: relative;
		display: block;
		padding: em($spacing_60);
		color: $color_base_dark;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			border: 2px solid $color_base_crystal;
			border-radius: $size_border_radius_circle;
			transform: translateX(-50%);

			@include transition(border-color);

			@include breakpoint(m) {
				border-width: 3px;
			}
		}

		@include transition(color);

		@include hover() {
			color: $color_base_primary;

			&::after {
				border-color: $color_base_primary;
			}
		}
	}
}
