@use 'sass:color';
@use 'config' as *;

.form {
	$root: &;
	$padding: 18;

	position: relative;
	display: flex;
	width: 100%;
	padding: em($padding);
	border-radius: em($spacing_140);
	box-shadow: compose-shadow($shadow_form);

	&:focus-within {
		@include focus();
	}

	&_input {
		flex-grow: 1;
		width: 100%;
		margin-inline-start: em($padding);
		margin-inline-end: em($padding);
		border: 0;
		background: none;
		color: inherit;

		&:focus {
			box-shadow: none !important;
		}

		&:not(:placeholder-shown) + #{$root}_label,
		&:focus + #{$root}_label {
			top: em($padding);
			left: em($padding * 2, $size_font_min);
			font-size: em($size_font_min);
			opacity: 0.7;
		}
	}

	&_label {
		position: absolute;
		top: 50%;
		left: em($padding * 2);
		overflow: hidden;
		transform: translateY(-50%);

		@include transition(top);
	}

	&_button {
		display: flex;
		align-items: center;
		text-indent: -9999px;

		@include breakpoint(s) {
			text-indent: 0;
		}

		&Icon {
			fill: currentColor;

			@include breakpoint(s) {
				display: none;
			}
		}
	}
}
