@use 'config' as *;

.help {
	&_heading {
		margin-block-end: em($spacing_110);
		text-align: center;
	}

	&_subheading {
		display: block;
		font-weight: inherit;
	}

	&_form {
		width: 100%;
		max-width: em(874);
		margin-inline-start: auto;
		margin-inline-end: auto;
		background-color: $color_base_white;
	}
}
