include ../button/index.pug
include ../headingDouble/index.pug
include ../text/index.pug

mixin hero()
	div(class=s.hero)&attributes(attributes)
		+headingDouble(
			{
				text: d.hero.subheading,
				mod: ['big'],
			},
			{
				text: d.hero.heading,
				tag: 'h1',
				mod: ['h1'],
			})
		+text(d.hero.description, 'big')(class=s.hero_description)
		+button('Let Us Help', 'primary', 'big')
