@use 'sass:color';
@use 'config' as *;

:root {
	overflow-x: hidden;
	font-family: $typography_family_main;
}

*:focus {
	@include focus();
}

BODY {
	background-color: $color_base_white;
	color: $color_font_base;
	font-size: locks($size_font_min, $size_font_max);
	line-height: $size_line_height_normal;
}

::selection {
	background-color:
		color.adjust(
			$color_base_primary,
			$saturation: 28%, $lightness: 36%
		);
}
