@use 'sass:color';
@use 'config' as *;

*:focus {
	outline: none !important;
	box-shadow:
		inset 0 0 0 rem(2) $color_base_carnation,
		inset 0 0 0 rem(4) color.scale($color_base_jungle_green, $alpha: -65%) !important;
}

BODY {
	background-color: $color_base_white;
	color: $color_font_base;
	font-family: $typography_family_main;
	font-size: locks($size_font_min, $size_font_max);
	line-height: $size_line_height_normal;
}

::selection {
	background-color:
		color.adjust(
			$color_base_carnation,
			$saturation: 28, $lightness: 36
		);
}
