@use 'config' as *;

.logo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: $color_base_jungle_green;
	text-transform: uppercase;
	white-space: nowrap;
	font-family: $typography_family_secondary;
	font-size: $size_font_ms_u_1 + em;
	font-weight: $typography_weight_bold;

	&_icon {
		width: em($size_logo, ($size_font_ms_u_1 * $size_font_max));
		height: auto;
		margin-inline-end: em($spacing_80);
	}
}
