@use 'sass:string';
@use 'config' as *;

.social {
	$root: &;

	display: flex;
	justify-content: space-evenly;

	&_item {
		display: flex;
		flex-shrink: 0;

		&:not(:last-child) {
			margin-inline-end: em($spacing_60);
		}
	}

	&_link {
		padding: em(10);

		@each $key, $val in $brand {
			&[title=#{$key} i] {
				@include hover($selector: #{$root}_icon) {
					fill: string.unquote($val);
				}
			}
		}
	}

	&_icon {
		width: em($size_social_icon);
		height: em($size_social_icon);
		fill: $color_base_dark;

		@include transition(fill);
	}
}
