@use 'config' as *;

.social {
	$root: &;

	display: flex;
	justify-content: space-evenly;

	&_item {
		display: flex;
		flex-shrink: 0;

		&:not(:last-child) {
			margin-inline-end: em($spacing_60);
		}
	}

	&_link {
		padding: em(10);

		@include hover($selector: #{$root}_icon) {
			fill: $color_base_carnation;
		}
	}

	&_icon {
		width: em($size_social_icon);
		height: em($size_social_icon);

		@include transition(fill);
	}
}
