block head
	- let title = 'Covid-19';

	include ../meta/index.pug
	include ../favicon/index.pug

	each css in htmlWebpackPlugin.files.css
		if css.includes('inline')
			style !{compilation.assets[css].source()}
		else
			link(rel='stylesheet' href= css)

	title= pageTitle ? `${title} | ${pageTitle}` : title
