include ../heading/index.pug
include ../link/index.pug
include ../text/index.pug

mixin about()
	div(class=s.about)&attributes(attributes)
		+text(d.about.subheading)(class=s.about_subheading)
		+heading({text: d.about.heading, tag: 'h2', modifier: 'h2'})
		+text(d.about.description)
		+link({str: 'Read more insights'})
