@use 'config' as *;

.heading {
	color: $color_base_dark;
	font-weight: $typography_weight_semi_bold;
	line-height: calc(2px + #{$size_font_ms_u_5 + ex} + 2px);

	&__h1 {
		font-family: $typography_family_secondary;
		font-size: $size_font_ms_u_5 + em;
		font-weight: $typography_weight_bold;
	}

	&__h2 {
		font-family: $typography_family_secondary;
		font-size: $size_font_ms_u_4 + em;
		font-weight: $typography_weight_bold;
	}

	&__h3 {
		font-size: $size_font_ms_u_3 + em;
	}

	&__h4 {
		font-size: $size_font_ms_u_2 + em;
	}

	&__h5 {
		font-size: $size_font_ms_u_1 + em;
	}

	&__h6 {
		font-size: $size_font_ms_0 + em;
	}
}
