extends ../components/layout/index.pug

include ../components/footer/index.pug
include ../components/header/index.pug
include ../components/main/index.pug

prepend head
	- let pageTitle = 'Home';

block body
	+header()(class=s.layout_header)
	+main()(class=s.layout_main)
	+footer()(class=s.layout_footer)
