@use 'config' as *;

.subheading {
	color: $color_base_carnation;
	font-family: $typography_family_secondary;
	font-size: $size_font_ms_u_2 + em;
	font-weight: $typography_weight_bold;

	&__big {
		font-size: $size_font_ms_u_3 + em;
	}
}
