- var social_preview = require("../assets/images/" + tokens.assetImageSocialPreview);

block meta
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='Facts about COVID-19. What you need to know about coronavirus and how to protect yourself.')

	meta(property='og:type' content='website')
	meta(property='og:url' content='https://corona-virus.vercel.app/')
	meta(property='og:title' content='Stay At Home Quarantine To Stop Coronavirus')
	meta(property='og:description' content='Facts about COVID-19. What you need to know about coronavirus and how to protect yourself.')
	meta(property='og:image' content= social_preview)

	meta(property='twitter:card' content='summary_large_image')
	meta(property='twitter:url' content='https://corona-virus.vercel.app/')
	meta(property='twitter:title' content='Stay At Home Quarantine To Stop Coronavirus')
	meta(property='twitter:description' content='Facts about COVID-19. What you need to know about coronavirus and how to protect yourself.')
	meta(property='twitter:image' content= social_preview)
