@use 'sass:color';
@use 'config' as *;

$figures_hero: (
	'0': (
		'top': 78,
		'right': 868,
		'width': 190,
		'fill': color.scale($color_base_carnation, $alpha: -20%),
	),
	'1': (
		'top': 214,
		'right': 524,
		'width': 123,
		'fill': color.scale($color_base_carnation, $alpha: -28%),
	),
	'2': (
		'top': 42,
		'right': 8,
		'width': 113,
		'fill': color.scale($color_base_carnation, $alpha: -35%),
	),
	'3': (
		'top': 327,
		'right': 0,
		'width': 255,
		'transform': translateX(50%),
		'fill': color.scale($color_base_carnation, $alpha: -18%),
	),
);

$figures_overview: (
	'0': (
		'bottom': 0,
		'right': 60,
		'width': 132,
		'transform': translateY(50%),
		'fill': color.scale(
			$color_base_carnation,
			$alpha: -20%,
			$lightness: 40%,
			$saturation: 28%,
		),
	),
	'1': (
		'bottom': 66,
		'right': 0,
		'width': 284,
		'transform': translateX(50%),
		'fill': color.scale(
			$color_base_carnation,
			$alpha: -25%,
			$lightness: 40%,
			$saturation: 28%,
		),
	),
);

$figures_contagion: (
	'0': (
		'bottom': 110,
		'left': 100,
		'width': 254,
		'fill': color.scale(
			$color_base_carnation,
			$alpha: -50%,
			$lightness: 40%,
			$saturation: 28%,
		),
	),
);
