@use 'sass:map';
@use 'config' as *;
@use 'data' as d;

$section: null !default;

#{$section}__overview {
	position: relative;
	padding-block-start: t2c(100, end);
	padding-block-end: t2c(178, end);

	@include breakpoint(s) {
		background-image: url(#{image-path(map.get($asset, 'image', 'overview'))});
		background-position: left 10% top;
		background-size: t2c(650, end);
		background-repeat: no-repeat;

		@include print() {
			background: none;
		}
	}

	#{$section}_inner {
		> * {
			@include breakpoint(s) {
				grid-column: span 10 / -1;
			}

			@include breakpoint(m) {
				grid-column: span 7 / -1;
			}
		}
	}

	#{$section}_virus {
		@include breakpoint(s) {
			opacity: 1;
		}

		@include figure(d.$figures_overview, 680);
	}
}
