$root: null !default;

@use 'config' as *;

#{$root}__about {
	--row: 6;

	display: grid;
	grid-template-rows: repeat(var(--row), 1fr);
	grid-template-columns: inherit;
	grid-row: 7 / span var(--row);
	gap: inherit;

	@include separator($top: false, $inner: true);

	@include breakpoint(s, '<') {
		@include container();
	}

	#{$root}_inner {
		grid-column: #{$grid_full};

		@include breakpoint(s) {
			grid-column: #{$grid_inner};
		}

		&__start {
			grid-row: 2 / span 2;

			@include breakpoint(m, '<') {
				font-size: 80%;
			}

			@include breakpoint(m) {
				grid-row: 2 / span 4;
				grid-column: 2 / span 3;
			}

			@include breakpoint(l) {
				grid-column: 2 / span 2;
			}
		}

		&__end {
			grid-row: 4 / span 2;

			@include breakpoint(m, '<') {
				font-size: 100%;
			}

			@include breakpoint(m) {
				grid-row: 2 / span 3;
				grid-column: 5 / span 3;
			}
		}
	}
}
