@use 'sass:map';
@use 'config' as *;
@use 'data' as d;

$section: null !default;

#{$section}__hero {
	position: relative;
	padding-block-start: t2c(300, end);
	padding-block-end: t2c(208, end);

	@include breakpoint(s) {
		background-image: url(#{image-path(map.get($asset, 'image', 'hero'))});
		background-position: right 10% bottom t2c(90, end);
		background-size: t2c(860, end);
		background-repeat: no-repeat;
	}

	#{$section}_inner {
		> * {
			@include breakpoint(s) {
				grid-column: 1 / span 10;
			}

			@include breakpoint(m) {
				grid-column: 1 / span 7;
			}
		}
	}

	#{$section}_virus {
		@include breakpoint(s) {
			opacity: 1;
		}

		@include figure(d.$figures_hero, 924);
	}
}
