@use 'sass:color';
$root: null !default;

@use 'config' as *;

$figures: (
	'0': (
		'top': 78,
		'right': 868,
		'width': 190,
		'fill': color.scale($color_base_carnation, $alpha: -10%),
	),
	'1': (
		'top': 214,
		'right': 524,
		'width': 123,
		'fill': color.scale($color_base_carnation, $alpha: -18%),
	),
	'2': (
		'top': 42,
		'right': 8,
		'width': 113,
		'fill': color.scale($color_base_carnation, $alpha: -25%),
	),
	'3': (
		'top': 327,
		'right': 0,
		'width': 255,
		'transform': translateX(50%),
		'fill': color.scale($color_base_carnation, $alpha: -8%),
	),
);

#{$root}__hero {
	position: relative;
	padding-block-start: em(300);
	padding-block-end: em(208);

	#{$root}_inner {
		display: grid;
		grid-template-columns: repeat($grid_columns, 1fr);
		column-gap: em($spacing_gutter);

		@include container();

		> * {
			grid-column: 1 / span 7;
		}
	}

	#{$root}_virus {
		height: auto;

		@include figure($figures, 924);
	}
}
