$root: null !default;

@use 'config' as *;

#{$root}__hero {
	--row: 6;

	display: grid;
	grid-template-rows: repeat(var(--row), 1fr);
	grid-template-columns: inherit;
	grid-row: 1 / span var(--row);
	gap: inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(#{image-path(map-deep($asset, 'image', 'hero'))});
	background-size: cover;

	@include breakpoint(s, '<') {
		@include container();
	}

	#{$root}_inner {
		grid-row: 2 / span 3;
		grid-column: #{$grid_full};
		height: max-content;

		@include breakpoint(s) {
			grid-column: #{$grid_inner};
		}

		@include breakpoint(m) {
			grid-column: 2 / span 3;
		}
	}
}
