@use 'data' as d;
@use 'config' as *;

$section: null !default;

#{$section}__prevention {
	position: relative;
	padding-block-start: t2c(50, end);
	padding-block-end: t2c(50, end);

	#{$section}_virus {
		@include figure(d.$figures_prevention, 2278);
	}
}
