include ../button/index.pug
include ../heading/index.pug
include ../subheading/index.pug
include ../text/index.pug

mixin overview()
	div(class=s.overview)&attributes(attributes)
		+subheading(d.overview.subheading)(class=s.overview_subheading)
		+heading({text: d.overview.heading, tag: 'h2'}, 'h2')
		+text(d.overview.description)
		+button('Learn More', 'primary')
