@use 'config' as *;

.features {
	&_list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: em($spacing_gutter * 2);
	}
}

.feature {
	$context: 448;

	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	padding-block-start: t2c(50, $context, p);
	padding-block-end: t2c(72, $context, p);
	padding-inline-start: t2c(50, $context, p);
	padding-inline-end: t2c(50, $context, p);
	border-radius: em($size_border_width_normal);
	background-color: $color_base_white;
	box-shadow: compose-shadow($shadow_base);

	@include transition(transform);

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: em(6);
		background-color: $color_base_crystal;

		@include transition(background-color);
	}

	@include hover() {
		transform: scale(1.05);

		&::after {
			background-color: $color_base_primary;
		}
	}

	&_image {
		width: t2c(280, $context, p);
		height: auto;
		margin-block-end: t2c(50, $context, p);
	}

	&_heading {
		margin-block-end: em(16);

		@include truncate_text();
	}
}
