@use 'config' as *;

.footer {
	padding-block-start: t2c(50, end);

	&_inner {
		display: grid;
		grid-template-columns: repeat($grid_columns, 1fr);
		align-items: center;
		gap: em($spacing_gutter);

		@include container();

		> * {
			grid-column: #{$grid_full};
		}
	}

	&_logo {
		grid-row: 1;
		grid-column: 1 / span 8;
		justify-self: start;

		@include breakpoint(m) {
			grid-column: 1 / span 3;
		}
	}

	&_menu {
		justify-self: center;
		max-width: 100%;

		@include breakpoint(m) {
			grid-row: 1;
			grid-column: 4 / -4;
		}
	}

	&_social {
		grid-row: 1;
		grid-column: span 8 / -1;
		justify-self: end;
		align-items: center;

		@include breakpoint(m) {
			grid-column: span 3 / -1;
		}
	}
}
