include ../headingDouble/index.pug
include ../icon/index.pug
include ../text/index.pug

mixin symptoms()
	div(class=s.symptoms)&attributes(attributes)
		header(class=s.symptoms_header)
			+headingDouble(
				{text: d.symptoms.subheading},
				{text: d.symptoms.heading})
			+text(d.symptoms.description)
		figure(class=s.symptoms_figure)
			+icon('assetIconSymptoms')(class=s.symptoms_image)
